.container {
    display: flex;
    margin: 15px;
    flex-direction: row;
    flex-wrap: wrap;
    width: 675px;
    margin-top: 150px;
    margin-left: 320px;
}

.card1 {
    background: green;
    width: 335px;
    height: 150px;
}

.card2 {
    background: yellow;
    width: 335px;
    height: 150px;
}

.card3 {
    background: blue;
    width: 335px;
    height: 150px;
}

.card4 {
    background: purple;
    width: 335px;
    height: 150px;
}